{% extends 'myapp/main.html' %}
{% block content %}

<div class="main-container">
    {% for product in products %}
    <div class="card" style="width: 18rem;margin:5px;">
        <img src="{{product.pic.url }}" class="card-img-top" alt="productpic">
        <div class="card-body">
          <h5 class="card-title">name: {{product.name}}</h5>
          <h6 class="card-title">price : {{product.price}}</h6>
          <h6 class="card-title">seller : {{product.seller}}</h6>
          <p class="card-text"> dscription:{{product.description}}</p>
          <a href="#" class="btn btn-primary">buy</a>
        </div>
    </div>
{% endfor %}            
</div>
{% endblock %} 